*,
::after,
::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding:0;
    font-family: Hero,sans-serif;
}


.row {
    display: flex;
    flex-direction: row;
    flex: 0;
}

.box {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;   
    border: 1px solid black;

}

div.box:hover {
    background-color: blueviolet;
    transition: all 0.3s ease;

}   

.passedBy {
    background-color: random;
    transition: all 0.3s ease;
}

.container {
    width : 960px;
    

}

.primaryBtn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    height: 60px;
    padding: 10px 20px; 
    font-size: 18px;  
    margin: 20px 0px;
  }

